/* ~~~~~~~~~~ General Styling ~~~~~~~~~~ */

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #4A4A4A;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile {
  display: none;
}

img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
}

h3 {
  font-size: 1rem;
  padding-top: 1rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  padding-top: 1rem;
  font-weight: 300;
}

a {
  color: #4A4A4A;
}

a:hover {
  opacity: 0.5;
}

strong {
  font-weight: bold;
}

button {
  color: white;
  background-color: #4A4A4A;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  padding: 8px 0;
  margin: 1rem 0;
  font-size: 1.5rem;
  transition: padding 0.5s;
}

button span::after {
  opacity: 0;
  content: " \00bb";
  transition: opacity 0.5s;
}

button:hover {
  padding-right: 1rem;
}

button:hover span::after {
  opacity: 1;
}

button:active, button:active span::after {
  color: lightGray;
}

/* ~~~~~~~~~~ Main Content Styling ~~~~~~~~~~ */

.split {
  display: flex;
  padding: 32px 24px;
}

.main {
  width: 60%;
  margin-right: 24px;
  flex-shrink: 0
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
}

.detail h2 {
  padding: 1rem 0;
}

.detail p {
  padding-top: 0;
  padding-bottom: 1rem;
}
.detail a {
  color: DodgerBlue;
  display: block;
  padding-bottom: 1rem;
}

.img-holder {
  width: 35%;
  padding: 16px;
  flex-shrink: 0;
}

#container {
  background-color: #EAEBEC;
  max-width: 1600px;
}

#container .content:nth-child(odd) {
  background-color: #D8D8D8;
}

/* ~~~~~~~~~~ Specific content Styling ~~~~~~~~~~ */


/* ~~~~~~~~~~ Header Styling ~~~~~~~~~~ */

header, header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  background-color: white;
  z-index: 5;
  position: fixed;
  max-width: 1600px;
  width: 100%;
  height: 64px;
  justify-content: space-between;
}

#logo, nav {
  padding: 0 24px;
}

#logo {
  height: 75%;
  font-size: 1.75rem;
  text-transform: uppercase;
}

#logo span {
  color: darkGray;
}

#logo strong {
  color: #4A4A4A;
}

header img {
  height: 100%;
  width: auto;
}

nav a {
  margin-left: 16px;
  font-size: 1.25rem;
}

/* ~~~~~~~~~~ Intro Styling ~~~~~~~~~~ */

#intro {
  margin-top: 64px;
}

#intro .sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
}

#intro h1, #intro h2 {
  padding: 1rem 0;
}

/* ~~~~~~~~~~ Details Styling ~~~~~~~~~~ */

#details {
  padding-top: 0;
}

#details .main {
  padding-top: 32px;
}

#details .sub {
  padding-top: 16px;
}

#details strong {
  display: block;
  padding-top: 1rem;
}

#details .detail:last-child {
  background-color: #D8D8D8;
}

/* ~~~~~~~~~~ Start Learning Styling ~~~~~~~~~~ */

#start h1 {
  text-align: center;
}

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px 72px;
}

.course {
  background-color: white;
  max-width: 32%;
  margin-bottom: 32px;
}

.course div {
  padding: 0 1rem 1rem 1rem;
}

/* ~~~~~~~~~~ Exhibit Styling ~~~~~~~~~~ */

#exhibit h1 {
  text-align: center;
}

#exhibit .detail:first-child {
  background-color: #D8D8D8;
}

/* ~~~~~~~~~~ Footer Styling ~~~~~~~~~~ */

footer {
  max-width: 1600px;
  width: 100%;
  height: 64px;
  margin: 16px 0;
  justify-content: space-between;
  display: flex;
}

footer span, footer div {
  padding: 0 24px;
}

footer div span {
  padding: 0;
  padding-left: .5rem;
}
