/* ~~~~~~~~~~ General Styling ~~~~~~~~~~ */

html {
  font-family: sans-serif;
  font-size: 16px;
}

.mobile {
  display: none;
}

img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
}

h3 {
  font-size: 1.25rem;
  padding: 1rem 0;
}

p {
  font-size: 1rem;
  padding: 1rem 0;
}

strong {
  font-weight: bold;
}

/* ~~~~~~~~~~ Main Content Styling ~~~~~~~~~~ */

.split {
  display: flex;
  padding: 32px 24px;
}

.main {
  width: 60%;
  margin-right: 24px;
  flex-shrink: 0
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail a {
  display: block;
  margin: 1rem 0;
}

.img-holder {
  width: 35%;
  padding: 16px;
  flex-shrink: 0;
}

#container {
  background-color: #EAEBEC;
}

#container .content:nth-child(odd) {
  background-color: #D8D8D8;
}

/* ~~~~~~~~~~ Specific content Styling ~~~~~~~~~~ */


/* ~~~~~~~~~~ Header Styling ~~~~~~~~~~ */

header {
  height: 64px;
  padding: 0 24px;
  justify-content: space-between;
}

header, header div {
  display: flex;
  align-items: center;
}

#logo {
  height: 75%;
  font-size: 1.75rem;
  text-transform: uppercase;
}

#logo img {
  height: 100%;
  width: auto;
}

nav a {
  margin-left: 16px;
  font-size: 1.25rem;
}

/* ~~~~~~~~~~ Intro Styling ~~~~~~~~~~ */

#intro .sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
}

#intro h1 {
  padding: 1rem 0;
}

button {
  color: white;
  background-color: #4A4A4A;
  border: none;
  width: 100%;
  padding: 8px 0;
  margin: 1rem 0;
  font-size: 1.5rem;
}

/* ~~~~~~~~~~ Start Learning Styling ~~~~~~~~~~ */

#start h1 {
  text-align: center;
}

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 72px;
}

.course {
  background-color: white;
  max-width: 32%;
  margin-bottom: 32px;
}

/* ~~~~~~~~~~ Exhibit Styling ~~~~~~~~~~ */

#exhibit h1 {
  text-align: center;
}

/* ~~~~~~~~~~ Footer Styling ~~~~~~~~~~ */

footer {
  height: 64px;
  margin: 16px 24px;
  justify-content: space-between;
  display: flex;
}
